$accent-color: #2c6bf1;
$text-color: #000;
$accent-text-color: #fff;
$dim-text-color: #444;
$background-color: #eee;
$dark-background-color: #31363b;
$header-text-color: #f0f0f0;
$dark-edit-box: #1a1a1a;
$active-element-color: #999;

$scrollbar-rail-color: #bbb;
$scrollbar-thumb-color: #ccc;
$scrollbar-active-thumb-color: #ccc;
