<mat-progress-bar *ngIf="operationMode" class="progress-bar" [value]="operationProgress" [mode]="operationMode"></mat-progress-bar>

<div class="header">
	<label>Sample</label>
	<div class="border-wrapper">
		<input #sample class="dark-edit" type="text" [value]="sampleText" maxlength="100" (input)="setSampleText(sample.value)">
	</div>
	<div class="space"></div>
	<label>Size</label>
	<!-- <mat-slider min="30" max="300" [value]="fontSizeIndex" (change)="setFontSize($event.value)"></mat-slider> -->
	<input #size type="range" class="font-size app-dark-slider" [ngClass]="colorTrack" [value]="fontSizeIndex" [min]="minFontSizeIndex" [max]="maxFontSizeIndex" (input)="setFontSize(size.value)">
	<button class="simple-btn" (click)="setFontSize(size.value, -1)">&#x2212;</button>
	<button class="simple-btn" (click)="setFontSize(size.value, 1)">+</button>

	<div class="space"></div>
	<label>Sort</label>
	<button class="radio-btn left" [class.selected]="_sortBy === 'name'" (click)="sortBy('name')" title="Sort by font name">
		<svg class="ico" width="20" height="16"> <use href="#tag" /> </svg>
	</button>
	<button class="radio-btn" [class.selected]="_sortBy === 'weight'" (click)="sortBy('weight')" title="Sort by font weight">
		<svg class="ico" width="24" height="16"> <use href="#weight" /> </svg>
	</button>
	<button class="radio-btn right" [class.selected]="_sortBy === 'proportions'" (click)="sortBy('proportions')" title="Sort fonts from compressed to extended">
		<svg class="ico" width="24" height="16"> <use href="#proportions" /> </svg>
	</button>

	<div class="space"></div>
	<label>Fonts</label>
	<div class="border-wrapper pill">
		<svg class="icon icon-left" width="16" height="16"> <use href="#magnifying-glass" /> </svg>
		<input class="quick-find dark-edit" #find type="text" [value]="filterText" (input)="setFilterText(find.value)">
	</div>

	<div *ngIf="getFontCount() as count" class="font-count">{{count}}</div>
</div>

<div #folderPanel class="folder-view">
	<div class="panel-header">
		<span class="path">{{getDisplayPath()}}</span>
		<button class="btn" mat-flat-button (click)="selectFontFolder()">...</button>
	</div>
	<folder-view #folders [rootPath]="_rootPath" class="folders" (selectFolder)="loadFonts($event)"></folder-view>
</div>

<div class="separator sep0" resizePanel [component]="folderPanel" grow="right" cookie="folderPanelWidth"></div>

<mk-gallery #gallery class="gallery" [items]="currentGroup.allItems" [groups]="_groups" [wrapItems]="true" [virtualGrid]="true" (selection)="fontSelectionChanged($event)" [scrollMargin]="30" selectionMode="multiple">
	<mk-gallery-group [group]="currentGroup">
		<mk-gallery-item *ngFor="let item of currentGroup.items" [item]="item" [width]="galleryItemSize.w" [height]="galleryItemSize.h">
			<div *ngIf="item.tag as f" class="card-item">
				<font-tile class="font" [font]="f" [size]="fontSize" [text]="sampleText"></font-tile>
				<span class="font-name">{{f.fontName}}</span>
			</div>
		</mk-gallery-item>
	</mk-gallery-group>
</mk-gallery>

<div class="separator sep1" resizePanel [component]="infoPanel" grow="left" cookie="infoPanelWidth"></div>

<div #infoPanel class="info-panel">
	<ng-container *ngFor="let line of _fontInfo; last as isLast">
		<span class="label">{{line.name}}</span>
		<span class="value">{{line.value}}</span>
		<div *ngIf="!isLast" class="line"></div>
	</ng-container>
	<div class="buttons">
		<button mat-flat-button color="primary" class="push-btn" (click)="installFonts()">Install</button>
		<button mat-flat-button class="push-btn" (click)="uninstallFonts()">Uninstall</button>
	</div>
</div>

<div class="separator sep2" resizePanel [component]="infoPanel" grow="down" cookie="glyphPanelHeight"></div>

<char-map class="glyph-panel" [font]="_selectedFont" (glyphClicked)="openGlyphPopup($event)" [cellSizeIndex]="_gridCellSize" (cellSizeChanged)="gridSizeChanged($event)"></char-map>
